<%-include('partials/header.ejs');%>
    <div href="/" class="welcome">
        <h1>Welcome to Yihan's diary.</h1>
        <p>What's he's thinking now?</p>
      </div>
    <div class="blogs">
      <% blogs.forEach((e)=>{%>
        <form class="blog" action="/delete" method="post">
            <h1><%=e.title%> <input type="image" src="/img/delete.svg" class="delete-icon"></h1>
            <p><%=text_truncate(e.body)%></p>
            <% if(e.body.length>100){ %>
              <% const url = "/posts/"+e.title %>
              <a href="<%= url %>" id="readMore">Read More</a></p>
            <% } %>
            <input type="hidden" value="<%=e._id%>" name="diaryID">

        </form>
      <%})%>
    </div>
<%-include('partials/footer.ejs');%>
        

