<!DOCTYPE html>
<html lang="en">
  <%-include('partials/header.ejs');%>
  <body>
    <div class="page-container">
        <%-include('partials/navbar.ejs');%>
        <h1>Home</h1>
        <p>This is Yihan's Diary.</p>
        <div class="blogs">
            <% for(var i=0;i<blogs.length;i++){ %>
                <div class="blog">
                    <h1><%=blogs[i].title%></h1>
                    <p><%=blogs[i].content%></p>
                </div>
            <%}%>
        </div>
        <%-include('partials/footer.ejs');%>
        
    </div>
  </body>
  
</html>
